<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kryoysync</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
</head>

<body>
    <div class="container">

        <!-- nav bar -->
        <div class="header">
            <div class="logo">
                <p>Kryoysync</p>
            </div>
            <div class="right-header">
                <ul class="page-links">
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>About Us</li>
                    </a>
                    <a href="#">
                        <li>Vision</li>
                    </a>
                    <a href="#">
                        <li>Services</li>
                    </a>
                    <a href="#">
                        <li>Portfolio</li>
                    </a>
                    <a href="#">
                        <li>Career</li>
                    </a>
                    <a href="#">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- home page -->
        <div class="pages home">
            <div class="home-text">
                <p class="home-first-line">WELCOME TO THE WORLD OF SOFTWARE</p>
                <p class="home-second-line">LET'S BUILD THE
                    FUTURE TOGETHER</p>
                <button class="commun-btn">Know More</button>
            </div>
            <div class="commun-imgs">
                <img src="../content/page_1.png" class="commun-image">
            </div>
        </div>

        <!-- About Us -->
        <div class="pages">
            <div class="commun-imgs">
                <div class="about-company">
                    <div class="person-img">

                    </div>
                    <p class="person-name">Harshil Trivedi</p>
                    <p class="person-post">CEO & Founder</p>
                </div>
                <div class="about-company">
                    <div class="person-img">

                    </div>
                    <p class="person-name">Dharmesh Chauhan</p>
                    <p class="person-post">Co - Founder</p>
                </div>
            </div>
            <div class="commun-text direction">
                <p class="commun-first-line">
                    About Us
                </p>
                <p class="commun-second-line">
                    Who We Are
                </p>
                <p class="commun-description">
                    Kryosync is a software development company based in Bhavnagar, Gujarat, founded in August 2024. Led
                    by CEO & Founder Harshil Trivedi and Co-Founder Dharmesh Chauhan, we specialise in web and app
                    development, UI/UX design, SEO, digital marketing, cybersecurity, and more. Our focus is on
                    innovation, quality, and client satisfaction. We transform ideas into impactful digital solutions to
                    help your business succeed.
                    <br><br>
                    Partner with us to move your business forward!
                </p>
                <button class="commun-btn">Contact us</button>
            </div>
        </div>

        <!-- Vision -->
        <div class="pages">
            <div class="commun-text">
                <p class="commun-first-line">
                    OUR VISION
                </p>
                <p class="commun-second-line">
                    Innovating for a Better Future
                </p>
                <p class="commun-description">
                    At Kryosync, we are committed to transitioning into a product-driven company, continuously pushing
                    the boundaries of software innovation. Our mission is to create solutions that adapt to future
                    demands, ensuring that we empower users and enhance their lives.
                    <br><br>
                    Our vision is rooted in the belief that technology should improve lives, making processes smoother,
                    faster, and more efficient.
                    <br><br>
                    Together, we’ll build a future where technology makes life better for everyone.
                </p>
            </div>
            <div class="commun-imgs">
                <img src="../content/page_3.png" class="commun-image">
            </div>
        </div>

        <!-- Services page -->
        <div class="pages vertical">
            <p class="page-heading">Our Services</p>
            <div class="carousel-container">
                <div class="slider">

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/da.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Data Analysis
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/cs.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Cyber Security
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/app.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            App Development
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/ui-ux.jpg" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            UI/UX Design
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/digital.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Digital Marketing
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/digital.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Content Writing
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                </div>
                <div class="slider">

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/da.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Data Analysis
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/cs.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Cyber Security
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/app.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            App Development
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/ui-ux.jpg" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            UI/UX Design
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/digital.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Digital Marketing
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-imgs">
                            <img src="../content/digital.png" alt="1" class="card-img">
                        </div>
                        <h2 class="card-heading">
                            Content Writing
                        </h2>
                        <p class="card-description">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro minima, ullam rerum
                            accusantium hic
                            possimus! Lorem ipsum, dolor
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="pages vertical">
            <p class="page-heading">Portfolio</p>
            <div class="page-projects" id="page-projects">

                <div class="project-card">
                    <div class="project-card-heading">
                        <h2>
                            Web Development
                        </h2>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-card-heading">
                        <h2>
                            Web Development
                        </h2>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-card-heading">
                        <h2>
                            Web Development
                        </h2>
                    </div>
                </div>

            </div>
            <div class="page-project-topics">
                <p class="page-project-topic" id="topic-web" onclick="changeProject('topic-web')">Web Development</p>
                <p class="page-project-topic" id="topic-app" onclick="changeProject('topic-app')">App Development</p>
                <p class="page-project-topic" id="topic-ui/ux" onclick="changeProject('topic-ui/ux')">UI/UX Design</p>
            </div>
        </div>

        <!-- Career -->
        <div class="pages">
            <div class="commun-text">
                <p class="commun-first-line">
                    career
                </p>
                <p class="commun-second-line">
                    Why Work at IT Services India?
                </p>
                <p class="commun-description">
                    At IT Services India, we care about our employees' well-being by offering flexible working hours,
                    generous vacation days, and regular team-wide events to promote a healthy work-life balance. We
                    believe in the importance of wellness, which is why we provide gym memberships and encourage
                    volunteer activities to support both your personal and professional growth.
                    <br><br>
                    We also understand the value of recognizing hard work. Our performance-based rewards program ensures
                    that your contributions are appreciated and celebrated. With a generous PTO policy, we give you the
                    time you need to recharge and stay at your best. Join us and experience a career where balance and
                    recognition come first.
                </p>
            </div>
            <form action="/contect-us-form" method="post" class="c-form">
                <div class="career-form">
                    <div class="form-name">
                        <input type="text" class="form-input" name="f_name" placeholder="First Name">
                        <input type="text" class="form-input" name="l_name" placeholder="Last Name">
                    </div>
                    <input type="email" class="form-input" name="email" placeholder="Email Address">
                    <input type="number" class="form-input" name="mobileNumber" placeholder="Mobile Number">
                    <select class="career-select" name="domain" id="domain">
                        <option value="">Select Domain</option>
                        <option value="Web Development (Frontend)">Web Development (Frontend)</option>
                        <option value="Web Development (Backend)">Web Development (Backend)</option>
                        <option value="App Development">App Development</option>
                        <option value="UI/UX Design">UI/UX Design</option>
                        <option value="cyber Security">cyber Security</option>
                        <option value="Data Analysis">Data Analysis</option>
                        <option value="Digital Marketing">Digital Marketing</option>
                        
                    </select>
                    <textarea class="form-input career-textarea" name="About_person" id=""
                        placeholder="About You (Optional)"></textarea>
                    <input type="submit" class="commun-btn form-btn" value="Send">
                </div>
            </form>
        </div>

        <!-- about us -->
        <div class="pages">
            <form action="/contect-us" method="post" class="c-form">
                <div class="contact-form">
                    <div class="form-name">
                        <input type="text" class="form-input" name="contact_f_name" placeholder="First Name">
                        <input type="text" class="form-input" name="contact_l_name" placeholder="Last Name">
                    </div>
                    <input type="email" class="form-input" name="contact_email" placeholder="Email Address">
                    <textarea class="form-input contact-textarea" name="contact_message" id=""
                        placeholder="Write Message Here..."></textarea>
                    <input type="submit" class="commun-btn form-btn" value="Send">
                </div>
            </form>
            <div class="commun-text direction">
            <p class="commun-first-line">
                got a project?
            </p>
            <p class="commun-second-line">
                Let's Talk Business
            </p>
            <p class="commun-description">
                Ready to take your project to the next level? Whether you need cutting-edge software solutions,
                innovative digital strategies, or expert tech advice, our team at Kryosync is here to assist. We’re
                dedicated to delivering solutions that drive your success.
                <br><br>
                Simply fill out the form below or email us at kryosyncc@gmail.com
                —we’ll get back to you as soon as possible. Let’s discuss how we can turn your vision into reality!
            </p>
        </div>
        </div>

    </div>
    
    <footer>
    <div class="container"></div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="../js/script.js"></script>

</body>

</html>

</html>